<body class="win">
	<div class="restart_button">
			<a href="https://localhost:7238/Taptiles">
				<img src="/images/button/Restart_button.png" width="50" height="50" />
			</a>
			<h6>Restart</h6>
		</div>

		<div class="back_button">
			<a href="https://localhost:7238">
				<img src="/images/button/Back_button.png" width="70" height="30" />
			</a>
			<h6>Menu</h6>
	</div>
</body>

<style>
    h6{
        color: white;
    }
</style>